<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="assets/style.css" type="text/css" rel="stylesheet">
     <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body style="background:#272729">
  <div id="movieHeader"><h1>2019 Popular Movies</h1></div>
    <div class="container movieBackground" >
      <ul style="list-style:none; display:flex; flex-wrap:wrap">
        <% data.forEach(movie=>{%><div class="movie"
          style="flex-direction:row; padding:10px;"
        >
        <li style=" display:flex;flex-direction:row;border:2px outset gray;background:white;" >

         <img style="border-radius:0; display:inline;"
            src="http://image.tmdb.org/t/p/w185//<%=movie.poster_path%>"
            alt="poster"
          />
          <div style="display:block; width:245px;font-size:15px;padding:20px 10px 0 10px;">
         <h4><%= movie.title %></h4><br/>
         
          
         
            <div style="font-size:14px;display:block;"><%= movie.overview %></div></div></div>
          </li>
        %><%}) %>
      </ul>
    </div>
    <footer>&copy;JDRichardsTech 2020</footer>
  </body>
</html>
